#map{
  min-height: 100%;
}

html, body {
        height: 100%;
        margin: 0;
    }

.header{
  position: absolute;
  z-index: 9999999;
  margin-top: 10px;
  width: 97%;
}

.header-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.mus-title{
  margin-left: 10px;
}

.main-nav-bar{
  background-color: #30336b;;
}

.action-buttons-color{
  background-color: #686de0 !important;
}

.modal-color{
  background-color: #130f40 !important;
}

h1, h2, h3, h4, h5, h6, p, a, input {
 color: white;
}
