#map{
  min-height: 100%;
}

body{
  --main-bg-color: #30336b;
  --main-button-color: #686de0;
  --main-modal-color: #130f40;
  --main-text-color: white;
  --main-dropdown-color: #686de0;
  --error-color: #eb4d4b;
  --success-color: #6ab04c;
}

html, body {
        height: 100%;
        margin: 0;
    }

.header{
  position: absolute;
  z-index: 401;
  margin-top: 10px;
  width: 97%;
}

.header-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.mus-title{
  margin-left: 10px;
}

.main-nav-bar{
  background-color: var(--main-bg-color);
}

.action-buttons-color{
  background-color: var(--main-button-color) !important;
}

.modal-color{
  background-color: var(--main-modal-color) !important;
}

.leaflet-popup-content-wrapper{
  background-color: var(--main-bg-color);
}

.leaflet-popup-tip{
  background-color: var(--main-bg-color);
}

.toast-error{
  background-color: var(--error-color) !important;
}

.toast-success{
  background-color: var(--success-color) !important;
}

.main-sidenav{
  background-color: var(--main-bg-color) !important;
}

.main-dropdown{
  background-color: var(--main-dropdown-color) !important;
}

i.icon-white{
  color: var(--main-text-color) !important;
}

.notification-badge {
    position: relative;
    right: -20px;
    top: -20px;
    color: #941e1e;
    background-color: #f5f1f2;
    margin: 0 -.8em;
    border-radius: 20%;
    padding: 5px 10px;
}

.notif{
  position: absolute;
}

.notifications-button{
  background-color: transparent !important;
}

.main-friends-dropdown{
  background-color: var(--main-dropdown-color) !important;
}

.search-results{
  background-color: var(--main-bg-color) !important;
  color: var(--main-text-color) !important;
}

.friend-deny-request{
  background-color: #eb4d4b !important;
}

.friend-requests-buttons-container{
  margin-right: 5px;
}

.friend-requests-buttons{
  width: 20px;
}

.friend-requests-icons{
  margin-left: -13px;
}

input{
  color: var(--main-text-color)
}

h1, h2, h3, h4, h5, h6, p, a {
 color: var(--main-text-color) !important;
}
